html {
    max-width:1400px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
        
}

ul {

    list-style-type: none;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size:18px;
}

p {
    font-size: 16px;
}

li {
    font-size: 17px;
}

a {
    text-decoration: none;
    color: black;
}

.padleft {                  /*correction padding auto*/
    padding-left: 32px;
}

/* couleurs , polices et fonds */

.darkblue {
    color:#0065FC;
}

.lightgrey {
    background-color:#D9D9D9;
}

.grey {
    background-color: #F2F2F2;
}

.greyinside {
    color: #F2F2F2;
}

.white {
    background-color: #FFFFFF;
}

.bold {
    font-weight: 700;
}
/* header */
/* titre du site et menu de navigation */

.headertop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:1339px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menuborder {                         

    border-top:transparent solid 2px;
    padding-top: 26px;
    margin-top: -24px;
    padding-right:30px;
}

.menuborder:hover {
    border-top:#0065FC solid 2px;
    color:#0065FC;
}

.menuborder:hover a{
    color:#0065FC
}

h1 {
    font-family: 'Sulphur Point', sans-serif;
}
.hidden {
    visibility: hidden;
}
.logo {
    width:61px;
    height:19px;
    margin-top:32px;
}
/* réduction line heigth slogan */

.catchphrase {
    margin:0;
}

/* onglet filtres */

.filtres {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    max-width:1339px;
    
}

        /* duplication classe pour le changement du site en mobile */

.ongletsfiltres {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}

.roundborder {
border: 2px solid #D9D9D9;
border-radius: 25px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 12px;
padding-top: 12px;
font-weight: bold;
display: flex; /* prévient saut à la ligne icone/texte en cas de zoom excessif */
justify-content: center;
align-items: center;
margin-right:25px ;
}

        /* création css pour intégration icone dans cercle car fa-stack ne fonctionne pas avec -thin et -light pour l'icone information */

.smallroundborder {
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 12px;
    margin-right:10px;
}

.roundborder:hover {
    background: #DEEBFF;    
}

.iconaway {
    margin-right: 10px;
}


/* Formulaire de recherche */

.horizontalform {
    display: flex;
    flex-direction: row;
    align-items: center;

    
}

.formborderleft { 
    text-align: center;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    width: 50px;
    line-height: 50%;
    padding-top: 17px;     /* height:49px icon bloquée en haut? utilisation padding*/
    padding-bottom: 16px;
    font-size:18px;
}

.formborderright { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:49px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    font-weight:bold;
    width: 132px;
    font-size:18px;
}

input {
    height:49px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    padding-left:15px; 
    font-size: 18px;  
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
}

        /*bouton recherche desktop*/

.desktopfirst {
    visibility: visible ;
}
.mobilefirst {
    visibility: hidden;
}

/* conteneur cartes */


.container1 {
    
    display: flex;
    flex-direction: column;
    padding:20px;
    border-radius: 12px;
    margin-top:20px;
    max-width: 62%;
} 

.container2 {

    padding:20px;
    border-radius: 12px;
    margin-top: 20px;
    max-width: 34%; 
}


.carte{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    width: 246px;
    height: 199px;
    line-height: 2px;
    border-radius: 20px;
    margin-bottom: 36px;
    
}

.carte img {
    width: 236px;
    height: 116px;
    object-fit: cover;
    padding-top: 5px;
    margin-bottom: -8px;
    border-radius: 20px 20px 0 0; 
    padding-left: 5px;     
}
.container {
    padding: 2px 16px;
  }

.rating {
    font-size: 12px;

}

.carddisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
         
}

/* bloc activityandaccommodation pour display desktop en row */

.activityandaccommodation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:1339px;
}

/* bloc les plus populaires */

.popularcontainer{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    width: 343px;
    height: 144px;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    margin-bottom: 28px;

}

.popularcontainer img {
    width: 127px;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding:5px;
}


.containeralt {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin: auto;
    width: 180px;
    height: 136px;    
}

.containeralt h4{
    font-size:16px;
    margin: 6px;
}

.containeralt p{
    margin: 6px;
}

.containeralt .rating{
    margin-bottom: 4px;
}


.fa-chart-line{
    padding: 25px 10px 10px 10px;
}

/* police <p> dans carte plus petite */

main p{
    font-size: 14px;
}

/* bloc activité */
.activity {
    margin-top: 40px;
    max-width:1339px;
}

.carddisplayactivity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.activitycardsbloc {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    max-width: 302px;
    max-height: 445px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    margin-bottom: 35px;

}

.activitycardsbloc img {
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activitycardsbloc h4 {
    padding-left: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    max-width:1339px;
    height:225px;
    margin-top: 60px;
    justify-content: flex-start;
    align-items: center;
    
}

.footerblock{
    display: flex;
    flex-direction: column;
    width: 446px;
    padding-left: 30px;
}

.footerblock h3{
    margin-left: 32px;
}

.footerblock a {
   font-size: 16px;
   font-weight:normal;
   padding-top: 10px;
   
}

/* adaptativescreen */

    /* Tablette */

@media screen and (max-width: 992px)
{

   .activityandaccommodation{
        flex-direction: column;
       
    }

    .container1, .container2 {
        max-width: 992px;
    
    }
    
    .rowtest {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .popularcontainer {
        max-width: 31%;
    }
    .popularcontainer img {
        width: 106px;
    }

    /* bloc activité plus petit pour tout mettre en une ligne */

    .activitycardsbloc {
        width: 182px;
        height: 262px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

        
        
    }

    .activitycardsbloc img {
        height: 211px;
        object-fit: cover;

    }

    .activitycardsbloc h4 {
    margin-top: auto;
    margin-bottom: auto;

    }
 
}

    /* Smartphone */

@media screen and (max-width: 768px) {

 

   .headertop {
    flex-direction: column;
    align-items: center;

   }

   .desktopfirst {
    visibility: hidden;
   }

   .mobilefirst {
    visibility: visible;
   }

   .activityandaccommodation {
    flex-direction: column-reverse;
   }

   .rowtest {
    flex-direction: column;
   }

   .activity {
    display: flex;
    flex-direction: column;  /* retravailler pour affichage en collonne sans margin */
    margin: 50px;
   }

   footer {
    flex-direction: column;
    height: fit-content;
   }
  
   .menuborder {                         

    border-bottom:transparent solid 2px;
    border-top: none;
    padding: 0;
    margin: 0;

    }

    .menuborder:hover {
    border-bottom:#0065FC solid 2px;
    color:#0065FC;
    border-top: none;
 
    }

    nav {
        display: flex;
        width: 100%;
        align-items: stretch;
        justify-content: center;
            
    }

    .menu {
        align-content: stretch;
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    
    .menu :nth-child(1){
    
        width: 50%;
        text-align: center;
    }

    .menu :nth-child(2){
        width: 50%;
        text-align: center;

    }
    
    .padleft {
        padding-left: 0;
    }

    body {
        width: 103%;
        padding: 0;
        margin: 0;
    }

 

    .formborderright { 
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        padding-left: 15px;
        height:49px;
        border-radius: 0 15px 15px 0;
        background-color: #0065FC;
        color: white;
        font-weight:bold;
        width: 42px;
        font-size:18px;
    }
}