
body {
    font-family: 'Raleway', sans-serif;
    max-width:1400px;
    margin-left: 40px;
}

ul {

    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size:18px;
}

p {
    font-size: 16px;
}



/* couleurs de polices et fonds */

.darkblue {
    color:#0065FC;
}

.lightgrey {
    background-color:#D9D9D9;
}

.grey {
    background-color: #F2F2F2;
}

.greyinside {
    color: #F2F2F2;
}

.white {
    background-color: #FFFFFF;
}
/* header */
/* titre du site et menu de navigation */

.headertop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
}
.menuborder {                         

    border-top:transparent solid 2px;
    padding-top: 26px;
    margin-top: -24px;
    padding-left:30px;
    padding-right:30px;
}

.menuborder:hover {
    border-top:#0065FC solid 2px;
    color:#0065FC;
}

h1 {
    font-family: 'Sulphur Point', sans-serif;
}
.hidden {
    visibility: hidden;
}
.logo {
    width:61px;
    height:19px;
    margin-top:32px;
}
/* réduction line heigth slogan */

.catchphrase {
    line-height: 12px;
}

/* onglet filtres */

.filtres {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

        /* duplication classe pour le changement du site en mobile */

.ongletsfiltres {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;       
}

.roundborder {
border: 2px solid #D9D9D9;
border-radius: 25px;
padding: 15px;
font-weight: bold;
margin-right:20px;
margin-left: 20px;
display: flex; /* prévient saut à la ligne icone/texte en cas de zoom excessif */
}

        /* création css pour intégration icone dans cercle car fa-stack ne fonctionne pas avec -thin et -light pour l'icone information */

.smallroundborder {
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 12px;
    margin-right:10px;
}

.roundborder:hover {
    background: #DEEBFF;    
}

.iconaway {
    margin-right: 7px;
}


/* Formulaire de recherche */

.horizontalform {
    display: flex;
    flex-direction: row;
    align-items: center;

    
}

.formborderleft { 
    text-align: center;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    width: 50px;
    line-height: 50%;
    padding-top: 17px;     /* height:49px icon bloquée en haut? utilisation padding*/
    padding-bottom: 16px;
    font-size:18px;
}

.formborderright { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:49px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    font-weight:bold;
    width: 132px;
    font-size:18px;
}

input {
    height:49px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    padding-left:15px; 
    font-size: 18px;  
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
}

        /*bouton recherche desktop*/

.desktopfirst {
    visibility: visible ;
}
.mobilefirst {
    visibility: hidden;
}

/* conteneur cartes */


.container1 {
    
    display: block;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 10px;
    margin-top:20px ;
    max-width: 65%;

}
.container2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 35%;
 
}
.carte{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 246px;
    height: 199px;
    line-height: 2px;
    border-radius: 20px;
    margin-bottom: 36px;
}

.carte img {
    width: 236px;
    height: 116px;
    object-fit: cover;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: -8px;
    border-radius: 20px;      
}
.container {
    padding: 2px 16px;
  }

.rating {
    font-size: 12px;
}

.carddisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 50px;     
}

/* bloc activityandaccommodation pour display desktop en row */

.activityandaccommodation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* bloc les plus populaires */

.popularcontainer{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 343px;
    height: 144px;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    margin-bottom: 28px;
}

.popularcontainer img {
    width: 127px;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding:5px;
}
.popularcontainer :nth-child(2){
    margin-top: -20px;
}

.containeralt {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    margin: auto;
    width: 180px;
    height: 136px;    
}

.containeralt h4{
    font-size:16px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.containeralt :nth-child(3){
    margin-top: 16px;

}

.fa-chart-line{
    padding: 25px 10px 10px 10px;
}

/* police <p> dans carte plus petite */

main p{
    font-size: 14px;
}