:root {
	--main-color: #0065FC;
	/* var(--main-color) */
	--second-color: #DEEBFF;
	/* var(--second-color) */
	--light-grey-color: #D9D9D9;
	/* var(--light-grey-color) */
	--off-white-color: #F2F2F2;
	/* var(--off-white-color) */
}

body {
	max-width: 1400px;
	font-family: 'Raleway', sans-serif;
	margin: 0 20px 0 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: hidden;
}

html {
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	/* prevent horizontal scrolling */
}

ul {
	list-style-type: none;
}

h1 {
	font-family: 'Sulphur Point', sans-serif;
}

h2 {
	font-size: 22px;
}

h3,
form,
input,
.large-font {
	font-size: 18px;
}

p {
	font-size: 16px;
}

main p {
	font-size: 14px;
}

li {
	font-size: 17px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	/* prevent container stretching from long sentences */
}

a {
	text-decoration: none;
	color: black;
}

.rating {
	font-size: 12px;
}

button {
	/* harmonize button with the form */
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.padding-left {
	/*correction of some auto-padding*/
	padding-left: 32px;
}

.dark-blue {
	color: var(--main-color);
}

.grey-background {
	background-color: var(--off-white-color);
}

.grey {
	color: var(--off-white-color);
}

.white-background {
	background-color: #FFFFFF;
}

.bold {
	font-weight: 700;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1339px;
	margin-bottom: 28px;
}

.menu {
	display: flex;
	flex-direction: row;
}

.menu-element {
	border-top: transparent solid 2px;
	padding: 32px 30px 0 0;
	margin-top: -16px;
}

.menu-element:hover {
	border-top: var(--main-color) solid 2px;
	color: var(--main-color);
	transition: 0.3s ease-in-out;
}

.menu-element:hover a {
	color: var(--main-color);
	transition: 0.3s ease-in-out
}

.hidden {
	visibility: hidden;
	width: 0;
	height: 0;

}

.logo {
	width: 61px;
	height: 19px;
	margin-top: 32px;
}

.catchphrase {
	margin: 0;
	line-height: 10px;
}

.wrap-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.horizontal-display {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.left-rounded-border {
	text-align: center;
	border-radius: 15px 0 0 15px;
	background-color: var(--off-white-color);
	width: 50px;
	padding: 17px 0 16px 0;
}

.right-rounded-border {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 51px;
	border-radius: 0 15px 15px 0;
	background-color: var(--main-color);
	color: white;
	font-weight: bold;
	width: 132px;
}

input {
	height: 51px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: hidden;
	border-right-style: hidden;
	border-color: var(--off-white-color);
	padding-left: 15px;
	outline: none;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.desktop-only-element {
	visibility: visible;
}

.mobile-only-element {
	visibility: hidden;
}

.filters {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin: 20px 0 20px 0;
}

.filter-buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.rounded-buttons {
	border: 2px solid var(--light-grey-color);
	border-radius: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
	height: 50px;
	margin: auto 20px auto 20px;
	padding: 0 20px 0 20px;

}

.rounded-buttons i {
	min-width:23%;
	font-size: 150%;
	text-align: center;
}

.rounded-buttons p {
	min-width:77%;
	margin: 10px;
	text-align: start;
}

.rounded-buttons:hover {
	background: var(--second-color);
	transition: 0.3s ease-in-out;
}

.icon-rounded-border {
	/*css to put icon in a circle because fa-stack is not working with -thin et -light information icon ( not a free option ) */
	border: 1px solid var(--light-grey-color);
	border-radius: 25px;
	padding: 7px 12px 7px 12px;
	margin-right: 10px;
}

/* main */

.accomodation-and-popular-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1339px;
}

.accomodation-container {

	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 12px;
	margin-top: 20px;
	max-width: 62%;
}

.accomodation-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	max-width: 246px;
	width: 33%;
	height: 199px;
	line-height: 2px;
	border-radius: 20px;
	margin-bottom: 36px;
}

.accomodation-card img {
	max-width: 236px;
	width: 95%;
	height: 116px;
	object-fit: cover;
	padding: 5px 0 0 5px;
	margin-bottom: -8px;
	border-radius: 20px 20px 0 0;
}

.accomodation-information {
	padding: 2px 16px;
}

.popular-container {
	padding: 15px 25px 15px 28px;
	border-radius: 12px;
	margin-top: 20px;
	max-width: 34%;
}

.popular-container-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fa-chart-line {
	padding: 25px 10px 10px 10px;
}

.popular-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	width: 343px;
	height: 144px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	margin-bottom: 28px;
}

.popular-card img {
	width: 40%;
	height: 134px;
	object-fit: cover;
	border-radius: 20px 0 0 20px;
	padding: 5px;
}

.popular-card-information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	width: 180px;
	height: 136px;
}

.popular-card-information h4 {
	font-size: 16px;
	margin: 6px;
}

.popular-card-information p {
	margin: 6px;
}

.popular-card-information .rating {
	margin: 4px;
}

.activity-container {
	margin-top: 40px;
	max-width: 1339px;
}

.activity-cards-display {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.activity-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	max-width: 23%;
	height: 445px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
}

.activity-card img {
	height: 389px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

.activity-card h4 {
	font-size: 18px;
	padding-left: 18px;
	margin: auto 0 20px 0;
}

/* footer */

footer {
	display: flex;
	flex-direction: row;
	max-width: 1339px;
	height: 225px;
	margin-top: 50px;
	padding-top: 40px;
	justify-content: flex-start;
	align-items: flex-start;
}

.footer-bloc {
	display: flex;
	flex-direction: column;
	width: 446px;
	padding-left: 30px;
}

.footer-bloc h3 {
	margin-left: 32px;
}

.footer-bloc a {
	font-size: 16px;
	font-weight: normal;
	padding-top: 10px;

}

@media screen and (max-width: 992px) and (min-width:769px) {
	.filter-buttons {
		width: 100%;
		justify-content: space-around;
	}
	.rounded-buttons {
		margin: 5px;
	}

	.accomodation-and-popular-container {
		flex-direction: column;
	}

	.accomodation-container,
	.popular-container {
		max-width: 992px;
	}

	.popular-card-display {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.popular-card {
		width: 90%;
		margin: 5px;
	}

	.popular-card img {
		width: 40%;
	}

	.activity-card {
		height: 34vh;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	}

	.activity-card img {
		height: 26vh;
		object-fit: cover;
		margin: 0 0 1vh 0;
	}

	.activity-card h4 {
		margin: auto 0 auto 0;
		height: 5vh;
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {

	body {
		margin: auto;
	}

	.desktop-only-element {
		visibility: hidden;
	}

	.mobile-only-element {
		visibility: visible;
	}

	header {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	nav {
		display: flex;
		width: 100%;
		align-items: stretch;
		justify-content: center;
	}

	.menu {
		align-content: stretch;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.menu :nth-child(1),
	.menu :nth-child(2) {
		width: 50%;
		text-align: center;
	}

	.menu-element {
		border-bottom: var(--off-white-color) solid 3px;
		border-top: none;
		padding: 0 0 30px 0;
		margin: 0;
	}

	.menu-element:hover {
		border-bottom: var(--main-color) solid 3px;
		color: var(--main-color);
		border-top: none;
	}

	.catchphrase {
		margin: 0 12px 0 12px;
		line-height: normal;
	}

	.right-rounded-border {
		display: flex;
		flex-direction: row-reverse;
		/* swapping research button text with icon*/
		padding-left: 15px;
		height: 51px;
		border-radius: 0 15px 15px 0;
		background-color: var(--main-color);
		width: 50px;
	}

	.horizontal-display {
		justify-content: center;
	}

	.filters {
		flex-direction: column;
	}

	.filters h3 {
		align-self: flex-start;
		padding-left: 24px;
	}

	.filter-buttons {
		flex-wrap: wrap;
		width:100%;
		justify-content: space-around;
	}

	.rounded-buttons {
		width: 42%;
		max-width: 240px;
		margin: 10px 5px 10px 5px;
		padding: 0 5px 0 5px;
	}

	.rounded-buttons p {
		margin:0;
		font-size: 11px;
	}

	.rounded-buttons:hover {
		background: #ffffff;
		box-shadow: 0 2px 2px 2px #00000025;
		transition: box-shadow 0.3s ease-in-out;
	}

	.accomodation-and-popular-container {
		flex-direction: column-reverse;
	}

	.accomodation-container {
		background-color: #FFFFFF;
		margin-top: 0;
		border-radius: 0 0 0 0;
		min-width: 100%;
		padding: 0;
	}

	.accomodation-card {
		min-width: 80vw;
		margin-bottom: 10px;
	}

	.accomodation-card img {
		min-width: 97%;
	}

	.popular-container {
		border-radius: 0 0 0 0;
		min-width: 100%;
		padding: 0;
	}

	.popular-container-head {
		margin: 0 40px 0 26px;
	}

	.popular-card-display {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	.popular-card {
		width: 80vw;
		margin: 0 0 10px 0;
	}

	.popular-card img {
		width: 35vw;
		padding: 0;
		margin: auto 0 auto 5px;
	}

	.activity-container {
		display: flex;
		flex-direction: column;
		margin: 25px;
	}

	.activity-cards-display {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.activity-card {
		min-width: 80vw;
		height: 199px;
	}

	.activity-card img {
		width: 100%;
		height: 80%;
	}

	.activity-card h4 {
		font-size: 16px;
		margin: auto auto auto 1px;
	}

	footer {
		flex-direction: column;
		height: fit-content;
		padding-bottom: 50px;
	}

	.footer-bloc {
		margin: auto;
	}

	.footer-bloc h3 {
		margin: 25px 0 10px 0;
	}

	.footer-bloc a {
		padding-left: 0;
	}
}